web:
 image: komplizierte/docker-nginx-magento:master
 # dns: 127.0.0.1
 ports:
  - "80:80"
 extra_hosts:
  - "mysql:192.168.59.103"
 volumes:
  - .:/var/www/magento
 environment:
  BASE_URL: http://kt-team.dev/
  DATABASE_NAME: kmplzt
